.canvas {
    width: 600px;
    height: 500px;
    border: 1px solid black;
    background-color: lightblue;
}

div#score-keeper {
    position: fixed;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modal {
    position: fixed;
    width: 300px;
    height: 250px;
    background-color: white;
    margin: 12%;
    padding: 20px;
    box-sizing: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.3);
}

.button {
    border-radius: 20px;
    width: 100%;
    height: 40px;
    background-color: peachpuff;
}

.restart-button {
    border-radius: 20px;
    width: 100%;
    height: 40px;
    background-color: peachpuff;
}

.restart-modal {
    display: none;
    position: fixed;
    width: 300px;
    height: 250px;
    background-color: white;
    margin: 12%;
    padding: 20px;
    box-sizing: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.3);
}