.canvas-background {
    width: 600px;
    height: 500px;
    border: 1px solid black;
    background: blue;
}

div#score-keeper {
    position: fixed;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modal {
    position: fixed;
}