.fullpage {
    background-color: bisque;
}

.canvas {
    width: 900px;
    height: 500px;
    border: 1px solid black;
    background-image: url("/src/images/bg-img2.png");
    background-size: 800px;
    background-color: lightblue;
    position: relative;
    top: 21px;
}

div#score-keeper {
    position: absolute;
    font-size: 22px;
    top: -500px;
    left: 35px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modal {
    position: absolute;
    left: 261px;
    top: -430px;
    width: 320px;
    height: 250px;
    background-color: white;
    /* margin: 12%; */
    padding: 20px;
    box-sizing: 5px;
    box-shadow: 5px 10px rgb(0 0 0 / 30%);
    border-radius: 4px;
}

.button {
    border-radius: 20px;
    width: 100%;
    height: 40px;
    background-color: peachpuff;
    font-family: monospace;
    font-size: 27px;
    font-weight: bold;
}

.restart-button {
    border-radius: 20px;
    width: 100%;
    height: 40px;
    background-color: peachpuff;
    font-family: monospace;
    font-size: 27px;
    font-weight: bold;
    justify-content: center;
    padding-top: 5px;
}

.restart-modal {
    display: none;
    position: absolute;
    width: 400px;
    background-color: white;
    margin: 12%;
    padding: 13px;
    box-sizing: 5px;
    box-shadow: 5px 10px rgb(0 0 0 / 30%);
    border-radius: 4px;
    top: -497px;
    left: 108px;
}

.lose-modal {
    display: none;
    position: absolute;
    width: 400px;
    left: 219px;
    top: -138px;
    background-color: white;
    padding: 13px;
    box-sizing: 5px;
    box-shadow: 5px 10px rgb(0 0 0 / 30%);
    border-radius: 4px;   
}

.modal-canvas {
    position: relative;

}

.win-message {
    margin-top: 4px;
    font-family: monospace;
    font-size: 20px;
}

.instructions {
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

.win-container{
    padding-left: 12px;
}

.lose-container {
    padding-left: 56px;
}

/* img.logo {
    width: 500px;
    margin: 40px 20px 20px 20px;
    position: relative;
    left: 25%;
    top: -25px;
} */


.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-container {
    position: relative;
    display: flex;
    width: 10px;
    bottom: 9px;
    font-size: 33px;
    top: -111%;
    left: 42%;
}

.icon {
    color: #396BBA;
    padding-right: 25px;
}